# Compiled binaries
inkjoy
joyous-hub/joyous-hub
joyous-hub/joyous-hub-linux-*
joyous-hub/inkjoy-hub
joyous-hub/inkjoy-hub-linux-*
InkJoy/inkjoy-proxy/inkjoy-proxy
InkJoy/inkjoy-proxy/inkjoy-proxy-mipsle
InkJoy/InkJoyOfflineTool/
images/
# APK files and decompiled output
*.apk
InkJoy/com.inkjoyframe.domus/

# Logs
*.log
proxy.log
